$white: #FFFFFF;
$black: #000000;

$gray-000: #EFEFEF;
$gray-100: #E1E1E1;
$gray-200: #CDCDCD;
$gray-300: #A4A4A4;
$gray-400: #878787;
$gray-500: #717171;
$gray-600: #4F4F4F;
$gray-700: #333333;

$red-orange-000: #E84118;

$carmine-red-000: #A2231D;
$carmine-red-100: #7A140F;

$deep-red-000: #7B001C;

$aqua-000: #0097E6;
$aqua-100: #0085CB;
$aqua-200: #0074B1;
$aqua-300: #005E8F;

$green-000: #00B63E;
$green-100: #00A438;
$green-200: #008B30;
$green-300: #007328;

